In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
new_dataset = df.loc[:, ['Age','Fare','Survived']]

In [5]:
new_dataset

      Age     Fare  Survived
0    22.0   7.2500         0
1    38.0  71.2833         1
2    26.0   7.9250         1
3    35.0  53.1000         1
4    35.0   8.0500         0
..    ...      ...       ...
886  27.0  13.0000         0
887  19.0  30.0000         1
888   NaN  23.4500         0
889  26.0  30.0000         1
890  32.0   7.7500         0

[891 rows x 3 columns]

In [6]:
new_dataset['Age']=new_dataset['Age'].fillna(new_dataset['Age'].mean())
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       891 non-null    float64
 1   Fare      891 non-null    float64
 2   Survived  891 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 21.0 KB

In [7]:
new_dataset

           Age     Fare  Survived
0    22.000000   7.2500         0
1    38.000000  71.2833         1
2    26.000000   7.9250         1
3    35.000000  53.1000         1
4    35.000000   8.0500         0
..         ...      ...       ...
886  27.000000  13.0000         0
887  19.000000  30.0000         1
888  29.699118  23.4500         0
889  26.000000  30.0000         1
890  32.000000   7.7500         0

[891 rows x 3 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_dataset.drop('Survived', axis=1),
                                                    new_dataset['Survived'],
                                                    test_size=0.3,
                                                    random_state=0)

X_train.shape, X_test.shape

((623, 2), (268, 2))

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# fit the scaler to the train set, it will learn the parameters
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
scaler.mean_

array([29.87334388, 32.45827255])

In [11]:
X_train

           Age     Fare
857  51.000000  26.5500
52   49.000000  76.7292
386   1.000000  46.9000
124  54.000000  77.2875
578  29.699118  14.4583
..         ...      ...
835  39.000000  83.1583
192  19.000000   7.8542
629  29.699118   7.7333
559  36.000000  17.4000
684  60.000000  39.0000

[623 rows x 2 columns]

In [12]:
X_train

           Age     Fare
857  51.000000  26.5500
52   49.000000  76.7292
386   1.000000  46.9000
124  54.000000  77.2875
578  29.699118  14.4583
..         ...      ...
835  39.000000  83.1583
192  19.000000   7.8542
629  29.699118   7.7333
559  36.000000  17.4000
684  60.000000  39.0000

[623 rows x 2 columns]

In [14]:
X_train_scaled

array([[ 1.62393675, -0.12253019],
       [ 1.47020331,  0.91812372],
       [-2.21939923,  0.29950338],
       ...,
       [-0.0133922 , -0.51276504],
       [ 0.47093596, -0.31228976],
       [ 2.31573723,  0.13566725]])

In [15]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [16]:
X_train_scaled

          Age      Fare
0    1.623937 -0.122530
1    1.470203  0.918124
2   -2.219399  0.299503
3    1.854537  0.929702
4   -0.013392 -0.373297
..        ...       ...
618  0.701536  1.051455
619 -0.835798 -0.510258
620 -0.013392 -0.512765
621  0.470936 -0.312290
622  2.315737  0.135667

[623 rows x 2 columns]

In [17]:
X_test_scaled

          Age      Fare
0   -0.013392 -0.373297
1   -0.013392 -0.516566
2   -1.758199 -0.069128
3   -0.013392  2.365514
4   -0.067131 -0.356965
..        ...       ...
263  0.778403 -0.673144
264 -0.013392 -0.351693
265 -0.220865 -0.373382
266 -0.912665 -0.517690
267 -0.013392 -0.098249

[268 rows x 2 columns]

In [18]:
np.round(X_train.describe(), 1)

         Age   Fare
count  623.0  623.0
mean    29.9   32.5
std     13.0   48.3
min      0.7    0.0
25%     23.0    7.9
50%     29.7   15.0
75%     36.0   31.4
max     80.0  512.3

In [19]:
np.round(X_train_scaled.describe(), 1)

         Age   Fare
count  623.0  623.0
mean     0.0    0.0
std      1.0    1.0
min     -2.2   -0.7
25%     -0.5   -0.5
50%     -0.0   -0.4
75%      0.5   -0.0
max      3.9   10.0

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
lr = LogisticRegression()
lr_scaled = LogisticRegression()

In [22]:
lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)

LogisticRegression()

In [23]:
y_pred = lr.predict(X_test)
y_pred_scaled = lr_scaled.predict(X_test_scaled)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
print("Actual",accuracy_score(y_test,y_pred))
print("Scaled",accuracy_score(y_test,y_pred_scaled))

Actual 0.6865671641791045
Scaled 0.6902985074626866

In this case, scaling actaully helps a little bit as the accuracy score is slighlty higher than that of the actual df.